#sizeTag{
    border: 3px solid #dedede;
}
#sizeTag:hover{
    border:3px solid red;
}
.sizeSelect{
    border: 3px solid gray;
    margin: 0 4px;
    width: 40px;
    height: 40px;
    font-weight: 800;

    &:hover{
        border: 3px solid red
    }
   
}
.selected{
    border: 3px solid red
}