.productName {
  font-size: 20px;
}
.textArea {
  display: flex;
  flex-direction: column;
}
.detailTitle {
  font-size: 16px;
  font-weight: 700;
}
.detailPrice {
  margin: 4px;
  font-size: 20px;
  font-weight: 700;
}
