@import '../../styles/variables.scss';

.landing {
  .pageContainer {
    .contents {
      display: flex;
      flex-direction: column;
      width: 100%;

      .sliderArea {
        position: relative;
        width: 100%;
        height: 500px;
        overflow-x: hidden;

        .slider {
          .sliderList {
            position: relative;

            .sliderTrack {
              position: absolute;
              left: 50%;
              top: 50%;
              display: flex;
              overflow-x: visible;
              transform: translateX(0);
              // transition-delay: 2s;
              transition-duration: 1.5s;

              img {
                width: 760px;
                height: 500px;
              }
            }
          }
        }
      }
      .firstContents {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        .firstTop {
          display: flex;
          justify-content: space-between;
          font-size: 30px;
          font-weight: bold;

          .firstTopBtn {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            background: url('../../../public/images/landingpage/rightnext.png')
              no-repeat center;
            background-size: 24px;
          }
        }
        .firstBottom {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
