@import '../../styles/variables.scss';

.landing {
  // display: flex;

  // width: 100%;
  .main {
    @include defaultWidth;
    display: flex;
    margin-top: 50px;

    .sliderArea {
      position: relative;
      // left: 50%;
      // top: 50%;
      width: 870px;
      height: 580px;
      overflow-x: hidden;

      .slider {
        .sliderList {
          position: relative;

          .sliderTrack {
            position: absolute;
            left: 50%;
            top: 50%;
            display: flex;
            overflow-x: visible;
            // transition-delay: 2s;
            transition-duration: 1s;

            img {
              width: 870px;
              height: 580px;
            }
          }
        }
      }
    }
  }
}
