@import '../../../styles/variables.scss';

.Signup {
  padding: 0px 40px;

  form {
    @include flexCenter;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin-top: 32px;
    }
    .passwordInput {
      margin-bottom: 12px;
    }
    input {
      width: 100%;
      height: 33px;
      padding: 8px;
      margin: 4px 0;
      border: 1px solid $muziLightGray;
      &::placeholder {
        color: $muziDarkGray;
        font-weight: 600;
      }
    }

    .loginBtn {
      background-color: $muziRed;
      color: white;
      font-weight: 700;
      width: 100%;
      height: 42px;
    }
  }
}
