@import '../../styles/variables.scss';

.itemList {
  display: flex;
  .listImg {
    width: 130px;
    height: 130px;
  }
  .listIcons {
    .itemListImg {
    }
    .itemListImg {
    }
  }
  .listText {
  }
  .listPrice {
  }
}
