@import '../../styles/variables.scss';

.list {
  margin: 0 auto;

  .pageContainer {
    h4 {
      margin: 5px 0 25px;
      padding-bottom: 18px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      font-weight: bold;
    }

    .nextPage {
      display: flex;
      justify-content: space-between;

      .textArea {
        font-size: 13px;
        font-weight: 300;

        b {
          margin-bottom: 10px;
          color: $muziRed;
          font-size: 14px;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        .btnPageL {
          margin-right: 5px;
        }
      }

      strong {
        display: inline-block;
        padding: 1px 4px 1px;
        border: 1px solid $muziRed;
        color: $muziRed;
        font-size: 11px;
      }

      .btnPageR {
        margin-left: 5px;
      }
    }

    .product {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }
}
