@import '../../styles/variables.scss';

.list {
  width: 1060px;
  margin: auto;

  .container {
    width: 760px;

    h4 {
      margin: 5px 0 25px;
      padding-bottom: 18px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      font-weight: bold;
    }

    .nextPage {
      display: flex;
      justify-content: space-between;

      .textArea {
        font-size: 13px;
        font-weight: 300;

        b {
          margin-bottom: 10px;
          color: $muziRed;
          font-size: 14px;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        .btnPageL {
          margin-right: 5px;
        }
      }

      strong {
        display: inline-block;
        padding: 1px 4px 1px;
        border: 1px solid #7f0019;
        color: #7f0019;
        font-size: 11px;
      }

      .btnPageR {
        margin-left: 5px;
      }
    }

    .selectBox {
      display: flex;
      padding: 6px 0 5px;
      margin-top: 26px;
      border: 1px solid rgb(214, 214, 214);
      background-color: #ebebeb;

      .selectText {
        display: flex;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;

        .selectFir {
          float: left;
          padding: 0 16px;
          border-right: 1px solid #cccccc;
          font-weight: bold;
        }

        .selectList {
          float: left;
          padding: 0 16px;
          border-right: 1px solid #cccccc;
          color: #999;
          font-weight: bold;
        }

        .selectRed {
          float: left;
          padding: 0 16px;
          border-right: 1px solid #cccccc;
          color: #7f0019;
        }
      }

      .selectBtnGroup {
        display: flex;
        padding: 7px 0 0 0;
        margin-left: 37px;
        cursor: pointer;

        .imageBtn {
          width: 40px;
          background-image: url('../../../public/images/listpage/btn_typeImg_dim.gif');
          background-repeat: no-repeat;
        }

        .imageListBtn {
          width: 40px;
          background-image: url('../../../public/images/listpage/btn_typeList_off.gif');
          background-repeat: no-repeat;
        }

        .more {
          width: 56px;
          height: 20px;
          border: 1px solid #cccccc;
          background: #fff
            url('../../../public/images/listpage/bg_select_li.gif') 100% 0
            no-repeat;
          font-size: 12px;
        }
      }
    }

    .itemBox {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }
}
