@import '../../styles/variables.scss';

.cart {
  .pageContainer {
    .orderStep {
      img {
        width: 100%;
      }
    }

    .benefitInfo {
      width: 100%;
      height: 25px;
      background: #d8d8d8;

      .customerInfo {
        float: left;
        height: 25px;
        padding: 5px 10px;
        color: #fff;
        background: #a7a7a7;
        font-size: 12px;
      }

      .customerBenefit {
        float: left;
        height: 25px;
        padding: 5px 10px;
        color: $muziDarkGray;
        font-size: 12px;
      }
    }

    .orderGuide {
      padding: 10px 20px;
      margin: 10px 0 20px;
    }

    .cartList {
      thead {
        tr {
          box-shadow: 0px 2px 3px #a7a7a7;

          th {
            border-top: 2px solid black;
            text-align: center;
            padding: 2px;
            border-bottom: 0.5px solid gray;
            border-right: 0.5px solid #a7a7a7;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              border-right: 0;
            }

            .chkBox {
              width: 13px;
              height: 13px;
              margin: 0px 2px 0px;
            }
          }
        }
      }
      .cartListBody {
        tr {
          border: 1px solid $muziLightGray;
          td {
            padding: 15px 5px;
            background: none;
            color: #666;
            line-height: 16px;

            .cartData {
              margin: 60px 0;

              p {
                font-size: 30px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .cartCalc {
    background-color: $muziIvory;
    width: 100%;
    height: 100px;
    border-top: 2px solid $muziGray;
    border-bottom: 2px solid $muziGray;

    .cartSum {
      display: flex;
      align-items: center;
      width: 100%;

      .cartSumResult {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        height: 100px;
        padding: 20px 80px;

        .cartProductTotal {
          span {
            &:last-child {
              color: $muziRed;
            }
          }
        }
        .cartShippingFeeTotal {
          span {
            &:last-child {
              color: $muziRed;
            }
          }
        }
      }

      .devider {
        width: 0.5px;
        height: 50px;
        border: 0.5px dotted gray;
      }

      .cartTotal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        height: 100px;
        padding: 20px 80px;

        .cartTotalPrice {
          span {
            &:last-child {
              color: $muziRed;

              .totalPriceText {
                font-size: 24px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .cartResultBtn {
      @include flexBetween;
      width: 100%;
      margin-top: 4px;

      .deleteBtn {
        background-color: white;
        margin-left: 8px;
        padding: 0px 4px;
        border: 1px solid gray;
      }

      .goToShopping {
        background-color: $muziLightGray;
        border: 1px solid gray;
        width: 115px;
        height: 46px;
        color: white;
      }
    }
  }
}
