@import '../../styles/variables.scss';

.Aside {
  width: 160px;
  margin-right: 30px;
  color: #333;

  .asideCategory {
    padding: 30px 0;
    border-bottom: 1px solid #e1e1e1;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
    }
    .categoryName {
      margin-bottom: 16px;
      font-size: 15px;
      font-weight: bold;
    }

    .categoryTypes {
      margin: 0;
      .categoryType {
        box-sizing: border-box;
        margin-bottom: 14px;
        &:last-child {
          margin: 0;
        }

        .typeLink {
          &:hover {
            border-bottom: 1px solid $muziDarkGray;
          }
        }
      }
    }
  }
}
