@import './variables.scss';

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

.conatainer {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
}

.bold {
  font-weight: 700;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}
