@import './variables.scss';

@import './variables.scss';
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

.conatainer {
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.bold {
  font-weight: 700;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}
