@import './variables.scss';

@import './variables.scss';
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
.conatainer {
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
// 볼드
.bold {
  font-weight: 700;
}
// float 속성 해제
.clear:after {
  content: '';
  display: block;
  clear: both;
}
