// @mixin flex

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 그레이
.gray {
  color: #8e8e8e;
}

.muziRed {
  #7f0019 붉은색
}

.muziLightGray {
  #cccccc
}


.muziDarkGray {
  #666666
}

.muziIvory {
#faf7eb
}

.muziGray {
  #999999
}

