@import '../../styles/variables.scss';
@mixin loginTab {
  .login {
    @include flexCenter;
    width: 192px;
    height: 42px;
    border: 1px solid $muziLightGray;
    border-bottom: 1px solid #fff;
  }

  .signin {
    @include flexCenter;
    background-color: #ecebeb;
    width: 192px;
    height: 42px;
    border-bottom: 1px solid $muziLightGray;
  }
}

@mixin signupTab {
  .login {
    @include flexCenter;
    background-color: #ecebeb;
    width: 192px;
    height: 42px;
    border-bottom: 1px solid $muziLightGray;
  }

  .signin {
    @include flexCenter;

    width: 192px;
    height: 42px;
    border: 1px solid $muziLightGray;
    border-bottom: 1px solid #fff;
  }
}

.LoginSignup {
  margin: auto;
  width: 464px;
  background-color: #fff;

  .SignHeader {
    position: relative;
    margin: 0 30px 0;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;

    h1 {
      position: absolute;
      top: 29px;
      left: 0;
      font-size: 26px;
      font-weight: bold;
      color: #333;
    }

    .SignHeaderLogo {
      position: absolute;
      top: 30px;
      right: 0;
      display: flex;
      @include flexCenter;
      flex-direction: row;

      span {
        color: $muziRed;
        font-size: 24px;
        font-weight: 900;
      }

      img {
        width: 30px;
      }
    }
  }

  .loginTap {
    @include flexCenter;
    margin-top: 24px;
    @include loginTab;
  }

  .signupTap {
    @include flexCenter;
    margin-top: 24px;
    @include signupTab;
  }
}
