@import '../../styles/variables.scss';

.labo {
<<<<<<< HEAD
  padding-bottom: 20px;
  text-align: center;

  .pageContainer {
    position: relative;
=======
  width: 100%;
  text-align: center;

  .container {
    position: relative;
    @include defaultWidth;
>>>>>>> master

    img {
      width: 760px;
    }

    .labo {
      img {
        width: 760px;
      }

      .laboTitle {
        position: absolute;
        top: 860px;
<<<<<<< HEAD
        left: 50px;
=======
        left: 200px;
>>>>>>> master
        font-size: 70px;
        font-weight: 400;
      }

      .laboFlex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        .laboText {
<<<<<<< HEAD
          margin: 65px 0 0 55px;
=======
          margin: 65px 0 0 200px;
>>>>>>> master
          @include font(14px);
        }

        .laboSize {
<<<<<<< HEAD
          margin: 65px 55px 0 0;
=======
          margin: 65px 200px 0 0;
>>>>>>> master
          @include font(12px);
        }
      }
    }

    .viewProductBox {
      width: 760px;
      @include space(25px, 0 auto);
      @include borderBox($muziLightGray);
      cursor: pointer;

      .viewProductBtn {
        @include flexCenter;
        margin: 0 auto;
        font-size: 12px;
      }
    }
  }
}
