@import '../../styles/variables.scss';

.labo {
  width: 100%;
  text-align: center;

  .container {
    position: relative;

    img {
      width: 760px;
    }

    .labo {
      img {
        width: 760px;
      }

      .laboTitle {
        position: absolute;
        top: 860px;
        left: 100px;
        font-size: 70px;
        font-weight: 400;
      }

      .laboFlex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        .laboText {
          margin: 65px 0 0 100px;
          @include font(14px);
        }

        .laboSize {
          margin: 65px 100px 0 0;
          @include font(12px);
        }
      }
    }

    .viewProductBox {
      width: 760px;
      @include space(25px, 0 auto);
      @include borderBox($muziLightGray);
      cursor: pointer;

      .viewProductBtn {
        @include flexCenter;
        margin: 0 auto;
        font-size: 12px;
      }
    }
  }
}
